body, html {
    height: 100%;
}

h1 {
    text-align: center;
    font-family: "Helvetica";
    font-weight: normal;
}

div {
    text-align: center;
    font-family: verdana;
}

input {
    text-align: right;
}

select {
    text-align: right;
}

#asn {
    font-family: helvetica; 
    font-size: 23px; 
    text-decoration: none;
}

a:hover {
    color: red;
}

#bg {
    height: 100%;
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    background-color: Crimson;
    font-family:arial;
    color:white;
}
