h1 {
    text-align: center;
    font-family: "Helvetica";
    font-weight: normal;
}

div {
    text-align: center;
}

input {
    text-align: right;
}

select {
    text-align: right;
}

#asn {
    font-family: helvetica; 
    font-size: 23px; 
    text-decoration: none;
}

a:hover {
    color: red;
}

#grad1 {
    background-size: cover;
    background-color: white; 
    background-image: linear-gradient(white, grey);
}
